<ion-header>
  <ion-toolbar>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div *ngIf="notifications && notifications.length > 0; else noNotifications">
    <ng-container *ngFor="let notification of notifications;">
      <ion-list [inset]="true">
        <ion-item [button]="true" detail="false">
          <div class="unread-indicator-wrapper" slot="start">
            <div class="unread-indicator"></div>
          </div>
          <ion-avatar slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>
            <strong>{{notification?.title}}</strong>
            <ion-note color="medium" class="ion-text-wrap">{{notification?.message}}</ion-note>
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">{{notification?.receivedHour}}</ion-note>
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
          </div>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>

  <ng-template #noNotifications>
    <div class="empty-data">
      <ion-text color="medium">
        <h5>Não há notificações</h5>
      </ion-text>
    </div>
  </ng-template>
</ion-content>