<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="close()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="profileForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="auto">
          <ion-icon name="person-circle-outline" style="font-size: 180px; color: var(--ion-color-medium);"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input label="Nome" label-placement="floating" fill="solid" formControlName="name" readonly>
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input label="E-mail" label-placement="floating" fill="solid" formControlName="email" readonly>
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>